html {
	font-family: 'Roboto', sans-serif;
}

body {
  background-color: #f5f5f5;
}

.width-100 {
  width: 100%;
}

.wrapper {
  width: 100%;
}

.navbar-main {
	background-color: #3097D1;
}

.area-block {
  background-color: #ffffff;
  border: 1px solid #CCCCCC;
  display: block;
}

.board-image {
  width: 100%;
  border-bottom: 1px solid #CCCCCC;
}

.board-metapanel {
  height: 100%;
  padding: 12px 16px 16px 12px;
}



.board-metaactions ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.board-metaactions-item {
  display: flex;
  justify-content: center;
  opacity: 0.4;
}

.board-metaactions-item-clicked {
  display: flex;
  justify-content: center;
  opacity: 1;
}

.board-metaactions-item:hover {
  opacity: 1.0;
  cursor: pointer;
}

.board-metaactions-item-clicked:hover {
	/* opacity: 0.6; */
  cursor: pointer;
}

.board-metatags ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}
.board-metatags ul li {
  display: inline;
}

.board-metatags-item {
  opacity: 0.6;
}

.board-metatags-item:hover {
  opacity: 1.0;
  cursor: pointer;
}

.font-size-22 {font-size: 22px; }
.vertical-align-middle { vertical-align: middle; }

.board-metapanel-userimage {
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.font-size-20 {
  font-size: 20px;
}

.popular-tags-item {
	display: inline-block;
	font-size: 14px;
	line-height: 14px;
	padding: 6px 14px 6px;
	margin-right: 5px;
	margin-bottom: 8px;
	border: 1px solid #595959;
	color: #000000;
}

.popular-tags-list {
  margin: 0;
  padding: 0;
}

.white {
  color: #000000;
}
